@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Business Info</h1> <a class="btn fw-bold text-white" asp-action="Index" style="background-color:#104862">Back</a>
    <p>
        At FrostTech we’re passionate about keeping things cool! We specialize in allocating high-quality fridges to our valued customers. Whether you’re a restaurant, grocery store, or pharmaceutical facility, we’ve got the perfect cooling solution for you. Our mission is to keep your business running smoothly by ensuring that your fridges and cold rooms are in top condition by providing our customers with refrigeration repairs, installations, and servicing.

        Our friendly and courteous technicians will keep you informed throughout the repair process, ensuring transparency and peace of mind. You can keep up to date with your reported fault, and/or even make a new fridge request if you no longer wish to take your old fridge back.

        We understand that a broken fridge can disrupt your daily routine, which is why we work quickly and efficiently to minimize downtime.
    </p>
    
</div>
<div class="align-text-bottom">
    <p>
        Contact Us: 	info@frost-tech.com	   +27 11 456 7892 (Mon – Fri 8am – 5pm)
    </p>

</div>
